.search-bar {
  width: 400px;
  height: 24px;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  background: rgb(255, 255, 255, 0.08);
  border: none;
  margin: 30px 0;
}

.search-bar:focus {
  outline: none;
}

.search-icon {
  position: relative;
  left: 400px;
  top: -60px;
  opacity: 40%;
}
